﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
    <title>@ViewBag.Title - Gestor de Contratos - Penta Financiero S.A.</title>
    	<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<style>
        .k-header h1 {
            margin: 0;
            /*padding: 15px 15px;*/
            padding: 15px 15px;
            font-size: 24px;
            font-weight: lighter;
            /*background-color: #465660;*/
        }

        /* Sticky footer styles
    -------------------------------------------------- */
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #f5f5f5;
        }

        .container-fluid .text-muted {
            margin: 20px 0;
        }

        .placeholders {
            margin: 30px auto;
        }

        .placeholder img {
            display: inline-block;
        }

        p .k-button {
            margin: 0 15px 0 0;
        }
        .btn-toggle {
            position: absolute;
            top: 0;
            left: 0;
            box-shadow: none;
            height: 48px;
        }

        .btn-toggle .k-icon {
            opacity: 1;
        }

        .btn-toggle,
        .k-primary.btn-toggle:hover,
        .btn-toggle:focus:active:not(.k-state-disabled):not([disabled]),
        .btn-toggle:focus:not(.k-state-disabled):not([disabled]) {
            box-shadow: none;
            border-radius: 0;
        }

        .btn-toggle .k-i-hbars,
        .k-primary.btn-toggle:hover .k-i-hbars,
        .btn-toggle:focus:active:not(.k-state-disabled):not([disabled]) .k-i-hbars,
        .btn-toggle:focus:not(.k-state-disabled):not([disabled]) .k-i-hbars {
            background-position: -80px -32px;
        }
        @@media (max-width: 768px) {
          .k-item {
            display: block;
            clear: both;
            float: none;
            width: 100%;
          }

          .k-header h1 {
            margin: 0;
            padding: 16px 15px 14px 60px;
            font-size: 18px;
            font-weight: lighter;
           }  
        }
    </style>
	<link href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
@*	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
*@
	<script src="https://kendo.cdn.telerik.com/2019.2.619/js/jquery.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2019.2.619/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2019.2.619/js/kendo.all.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2019.2.619/js/kendo.aspnetmvc.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   	<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/cultures/kendo.culture.es-CL.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row k-header">
            <h1>Gestor de Contratos</h1>
            <div id="responsive-panel">

                @(Html.Kendo().Menu()
                    .Name("Menu")
                    .Items(items =>
                    {
                        items.Add()
                            .Text("INICIO").Action("Index", "Home")
                        ;
                        items.Add()
                            .Text("CLIENTES").Action("Index", "Cliente")
                        ;
                        //items.Add()
                        //    .Text("CLIENTES DE PRUEBA")
                        //    .Items(children =>
                        //    {
                        //        children.Add().Text("12651151-5 MARIA ANGELICA GONZALEZ SEPULVEDA (NATURAL - FIADOR)").Action("Details", "Cliente", new { id = "12651151" });
                        //        children.Add().Text("10800758-3 ALEX EDUARDO CIFUENTES GUERRA (NATURAL)").Action("Details", "Cliente", new { id = "10800758" });
                        //        //children.Add().Text("1-9 PRUEBA (PERSONA)").Action("Details", "Cliente", new { id = "1" });
                        //        //children.Add().Text("DIMXARD S.A. (EMPRESA)").Action("Details", "Cliente", new { id = "76085349" });
                        //        children.Add().Text("96615800-k EXPORTADORA SUBSOLE S A").Action("Details", "Cliente", new { id = "96615800" });
                        //        children.Add().Text("76085349-6 DIMXARD S.A. - PRUEBA EN AUTOENROLAMIENTO").Action("Details", "Cliente", new { id = "76085349" });
                        //        children.Add().Text("76520439-9 TRANSPORTES E INVERSIONES OYANEDEL SPA - PRUEBA EN AUTOENROLAMIENTO").Action("Details", "Cliente", new { id = "76520439" });
                        //        children.Add().Text("99594830-3 COMERCIAL E INDUSTRIAL RK S.A - PRUEBA EN AUTOENROLAMIENTO").Action("Details", "Cliente", new { id = "99594830" });
                        //        //children.Add().Text("JUSN ERNESTOCARREÑO MARTINEZ CARREÑOMARTINEZ").Action("Details", "Cliente", new { id = "8279890" });
                        //    })
                        //;
                        items.Add()
                            .Text("PFSA")
                            //.Action("Rut", "Cliente", new { id = "96615800" })
                            .Items(children =>
                            {
                                //children.Add().Text("12651151-5 MARIA ANGELICA GONZALEZ SEPULVEDA (NATURAL - FIADOR)").Action("Details", "Cliente", new { id = "12651151" });
                                //children.Add().Text("10800758-3 ALEX EDUARDO CIFUENTES GUERRA (NATURAL)").Action("Details", "Cliente", new { id = "10800758" });
                                //children.Add().Text("1-9 PRUEBA (PERSONA)").Action("Details", "Cliente", new { id = "1" });
                                //children.Add().Text("DIMXARD S.A. (EMPRESA)").Action("Details", "Cliente", new { id = "76085349" });
                                //children.Add().Text("96615800-k EXPORTADORA SUBSOLE S A").Action("Details", "Cliente", new { id = "96615800" });
                                //children.Add().Text("JUSN ERNESTOCARREÑO MARTINEZ CARREÑOMARTINEZ").Action("Details", "Cliente", new { id = "8279890" });
                                children.Add().Text("SUCURSALES").Action("Index", "Sucursal");
                                children.Add().Text("REPRESENTANTES DE PFSA.").Action("Index", "RepresentantePenta");
                            })
                        ;
                        items.Add()
                            .Text("LOG").Action("Index", "LogContrato")
                        ;
                        items.Add()
                            .Text("MOVIL & WEB")
                            .Items(children =>
                            {
                                children.Add().Text("TEXTOS EN CANALES").Action("Index", "TextoCanal");
                            })
                        ;
                        items.Add()
                            .Text("FIRMA ELECTRÓNICA")
                            .Items(children =>
                            {
                                children.Add().Text("CONTRATOS POR FIRMAR").Action("PorFirmar", "Contratos");
                                children.Add().Text("CONTRATOS FIRMADOS").Action("Firmados", "Contratos");
                            })
                        ;
                        //items.Add().Text("Item 5");
                        //items.Add().Text("Disabled item").Enabled(false);
                    })
                )
            </div>
            <button id="configure" class="k-rpanel-toggle k-button k-primary btn-toggle"><span class="k-icon k-i-hbars"></span></button>
        </div>
    </div>


    @RenderBody()


    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-18 col-md-12">
                <div id="grid"></div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <p class="text-muted">2017-@DateTime.Now.Year Penta Financiero S.A. @("v"+typeof(GestorDeContratos.Web.WebApiConfig).Assembly.GetName().Version) / 
                USUARIO: @(System.Environment.UserName.ToString().Remove(0, System.Environment.UserName.ToString().IndexOf("\\") + 1).ToUpper()) 
                @*@(GestorDeContratos.Web.MvcApplication.mensajeLicencia.ToString())*@
            </p>
        </div>
    </footer>

    @if(!(GestorDeContratos.Web.MvcApplication.licenciaASPOSE)) {
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">LICENCIA CADUCADA</h4>
                </div>
                <div class="modal-body">
                    <p>La licencia de <b>ASPOSE.WORD</b> para generar contratos <b>ha caducado</b>!</p>
                    <p>Favor comunicarse con el área de tecnología.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(window).on('load', function () {
            $('#myModal').modal('show');
        });
    </script>

    }


    <script>
        $(document).ready(function () {
            $("#responsive-panel").kendoResponsivePanel({
                breakpoint: 768,
                autoClose: false,
                orientation: "top"
            });
        });
        function onclick(e) {
            $("#responsive-panel").getKendoResponsivePanel().toggle();
        }
    </script>

    <p>&nbsp;</p>
    <p>&nbsp;</p>

</body>
</html>
