﻿@{
    ViewBag.Title = "Busqueda de Clientes";
}
<br />

<script>
    kendo.culture("es-CL");
</script>

<script>
    function onClickBuscar() {
        $("#gridClientes").data("kendoGrid").dataSource.read();
    }

    function dataGridClientes() {
        return {
            buscar: $("#buscarTxt").val(),
        };
    }

    function datePicker(element) {
        element.kendoDatePicker({
            format: "dd/MM/yyyy"
        });
    }
</script>


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><b>BUSCAR CLIENTE</b></div>
        <div class="panel-body">
            <form id="buscarForm" class="form-horizontal" action="javascript:onClickBuscar();">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="rut">Rut / Nombre:</label>
                    <div class="col-sm-10">
                        @(Html.Kendo().TextBox()
                            .Name("buscarTxt")
                            .HtmlAttributes(new { title = "Ingrese un rut (sin guion, ni dígito verificador), o nombre del cliente.", style = "width:120px" })
                        )
                    </div>
                </div>
                <div class="form-group"> 
                    <div class="col-sm-offset-2 col-sm-12">
                        @(Html.Kendo().Button()
                            .Name("buscarButton")
                            .HtmlAttributes( new {type = "button", @class = "k-primary" } )
                            .Content("Buscar")
                            .Events(ev => ev.Click("onClickBuscar"))
                        ) 
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><b>RESULTADOS</b></div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-18 col-md-12">
                        @(Html.Kendo().Grid<GestorDeContratos.ServiceLayer.ViewsDTOs.ClienteDTO>()
                            .Name("gridClientes")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.rut)
                                    .ClientTemplate(@Html.ActionLink("#= rut #-#= dv #", "Details", "Cliente", new { id = "#: rut #" }, null).ToString())
                                    .Title("RUT").Width(100)
                                    .Filterable(ftb => ftb.Search(true))
                                ;
                                columns.Bound(p => p.razonSocial).Title("NOMBRE/RAZÓN SOCIAL").Width(300);
                                columns.Bound(p => p.nombreCalle).Title("DIRECCIÓN").Width(300);
                                columns.Bound(p => p.comuna).Title("COMUNA");
                                columns.Bound(p => p.ciudad).Title("CIUDAD");
                                columns.Bound(p => p.fechaingreso)
                                    .Title("F.Ingreso")
                                    .Format("{0:d}")
                                    //.Format("{0:G}")
                                    .Width(110)
                                ;                                
                            })
                            .ToolBar(tools => tools.Excel())
                            .ToolBar(tools => tools.Pdf())
                            .Excel(excel => excel
                                //.AllPages(true)
                                .FileName("Listado de Clientes.xlsx")
                                .Filterable(true)
                                .ProxyURL(Url.Action("Excel_Export_Save", "Grid"))
                            )
                            .Pdf(pdf => pdf
                                //.AllPages()
                                .AvoidLinks()
                                .PaperSize("letter")
                                .Scale(0.8)
                                .Margin("2cm", "1cm", "1cm", "1cm")
                                .Landscape()
                                .RepeatHeaders()
                                //.TemplateId("page-template")
                                .FileName("Listado de Clientes.pdf")
                                .ProxyURL(Url.Action("Pdf_Export_Save", "Grid"))
                            )  
                            .Pageable()
                            .Sortable()
                            //.Scrollable(scr=>scr.Height(800))
                            //.Scrollable()
                            .Filterable()
                            //.HtmlAttributes(new { style = "height:550px;" })
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(20)
                                .Read(read => read.Action("Cliente_Buscar", "Cliente").Data("dataGridClientes"))
                            )
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
