﻿@{
    ViewBag.Title = "Representantes de Penta";
}

<br />

<script>
    kendo.culture("es-CL");
</script>

@(Html.Kendo().Notification()
    .Name("notification")
    .Position(p => p.Pinned(true).Top(30).Right(30))
    .Stacking(NotificationStackingSettings.Down)
    .AutoHideAfter(7000)
    .Templates(t =>
    {
        t.Add().Type("info").ClientTemplateID("emailTemplate");
        t.Add().Type("error").ClientTemplateID("errorTemplate");
        t.Add().Type("upload-success").ClientTemplateID("successTemplate");
    })
)

@(Html.Kendo().Notification()
    .Name("popupNotification")
)

<script id="emailTemplate" type="text/x-kendo-template">        
    <div class="new-mail">
        <img src="../../content/web/notification/envelope.png" />
        <h3>#= title #</h3>
        <p>#= message #</p>
    </div>
</script>

<script id="errorTemplate" type="text/x-kendo-template">        
    <div class="wrong-pass">
        <img src="../../content/web/notification/error-icon.png" />
        <h3>#= title #</h3>
        <p>#= message #</p>
    </div>
</script>

<script id="successTemplate" type="text/x-kendo-template">        
    <div class="upload-success">
        <img src="../../content/web/notification/success-icon.png" />
        <h3>#= message #</h3>
    </div>
</script>

 <script type="text/javascript">
     //show server errors if any
     function error_handler(e) {
         debugger;
         if (e.errors) {
             var message = "Errors:\n";
             $.each(e.errors, function (key, value) {
                 if ('errors' in value) {
                     $.each(value.errors, function () {
                         message += this + "\n";
                     });
                 }
             });
             alert(message);
         }
     }
  </script>

<style>
    .demo-section p {
        margin: 3px 0 20px;
        line-height: 50px;
    }

    .demo-section .k-button {
        width: 250px;
    }

    .k-notification {
        border: 0;
    }


    /* Info template */
    .k-notification-info.k-group {
        background: rgba(0%,0%,0%,.7);
        color: #fff;
    }

    .new-mail {
        width: 300px;
        height: 100px;
    }

        .new-mail h3 {
            font-size: 1em;
            padding: 32px 10px 5px;
        }

        .new-mail img {
            float: left;
            margin: 30px 15px 30px 30px;
        }

    /* Error template */
    .k-notification-error.k-group {
        background: rgba(100%,0%,0%,.7);
        color: #ffffff;
    }

    .wrong-pass {
        /*width: 300px;*/
        width: 320px;
        height: 100px;
    }

        .wrong-pass h3 {
            font-size: 1em;
            /*padding: 32px 10px 5px;*/
        }

        .wrong-pass img {
            float: left;
            margin: 30px 15px 30px 30px;
        }

    /* Success template */
    /*.k-notification .upload-success {*/
    .k-notification-upload-success.k-group {
        background: rgba(0%,60%,0%,.7);
        color: #fff;
    }

    .upload-success {
        /*width: 240px;*/
        width: 320px;
        height: 100px;
        padding: 0 30px;
        line-height: 100px;
    }

        .upload-success h3 {
            font-size: 1em;
            font-weight: normal;
            display: inline-block;
            vertical-align: middle;
        }

        .upload-success img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
</style>

<div class="container" id="representantesDiv">
    <div class="panel panel-default k-content">
        <div class="panel-heading"><b>REPRESENTANTES DE PFSA.</b></div>
        <div class="panel-body k-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-18 col-md-12">
                        @(Html.Kendo().Grid<GestorDeContratos.ServiceLayer.ViewsDTOs.RepresentantePentaDTO>()
                            .Name("gridRepresentantesPenta")
                            .Columns(columns =>
                            {
                                columns.Command(command => { 
                                    command.Edit(); 
                                    command.Destroy();
                                    })
                                    .Title("Opciones")
                                    .Width(190)
                                ;
                                columns.Bound(p => p.idRepresentantePenta).Visible(false).Width(100);
                                columns.Bound(p => p.rut).Visible(true).Width(100);
                                columns.Bound(p => p.dv).Width(150);
                                columns.Bound(p => p.nombres).Width(150);
                                columns.Bound(p => p.apPaterno).Width(150);
                                columns.Bound(p => p.apMaterno).Width(150);
                                columns.Bound(p => p.estadoCivil).Width(150);
                                columns.Bound(p => p.profesion).Width(150);
                                columns.Bound(p => p.nacionalidad).Width(150);
                                columns.Bound(p => p.vigente).Width(50);
                            })
                            .ToolBar(toolbar =>
                            {
                                toolbar.Create();
                            })
                            .Editable(editable => editable.Mode(GridEditMode.InLine))
                            .Pageable()
                            //.Navigatable()
                            .Sortable()
                            .Scrollable(scr=>scr.Height(500))
                            .Filterable()
                            //.Events(ev=>ev.Change("representestGrid_onChange"))
                            .Events(events => events
                                .Change("onChange")
                                .DataBound("onDataBound")
                                .DataBinding("onDataBinding")
                                .Sort("onSorting")
                                .Filter("onFiltering")
                                .Group("onGrouping")
                                .Page("onPaging")
                                //.GroupCollapse("onGroupCollapse")
                                //.GroupExpand("onGroupExpand")
                            )
                            .PersistSelection()
                            //.HtmlAttributes(new { style = "height:550px;" })
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(100)
                                //.ServerOperation(false)
                                .Events(events => events.Error("error_handler"))
                                .Model(model =>
                                {
                                    model.Id(p => p.rut);
                                    //model.Field(p => p.rut).Editable(false);
                                })
                                .Create(update => update.Action("RepresentantePenta_Create", "RepresentantePenta"))
                                .Read(read => read.Action("RepresentantePenta_Read", "RepresentantePenta"))
                                .Update(update => update.Action("RepresentantePenta_Update", "RepresentantePenta"))
                                .Destroy(update => update.Action("RepresentantePenta_Destroy", "RepresentantePenta"))
                            )
                        )

                        <script type="text/javascript">
                            //show server errors if any
                            function error_handler(e, data) {
                                /*
                                //debugger;
                                //alert(e.status);
                                alert(e.xhr.responseText);
                                //alert($.parseHTML(e.xhr.responseText));
                                alert($('<div />').html(e.xhr.responseText).text());
                                //console.log(e);
                                */

                                var notification = $("#notification").data("kendoNotification");
                                notification.show({
                                    title: "ERROR",
                                    message: $('<div />').html(e.xhr.responseText).text(),
                                }, "error");

                                //if (e.errors) {
                                //    var message = "Errors:\n";
                                //    $.each(e.errors, function (key, value) {
                                //        if ('errors' in value) {
                                //            $.each(value.errors, function () {
                                //                message += this + "\n";
                                //            });
                                //        }
                                //    });
                                //    alert(message);
                                //}
                            }
                        </script>                       
                        <script>
                            //function representestGrid_onChange(arg) {
                            //    //kendoConsole.log("The selected product ids are: [" + this.selectedKeyNames().join(", ") + "]");
                            //    alert(("The selected product ids are: [" + this.selectedKeyNames().join(", ") + "]"));
                            //    //alert("111");
                            //}

                            function onChange(arg) {
                                //var selected = $.map(this.select(), function (item) {
                                //    return $(item).text();
                                //});

                                /*
                                grid = e.sender;
                                var currentDataItem = grid.dataItem(this.select());
                                alert(currentDataItem);
                                */
                                //alert(selected);
                                //kendoConsole.log("Selected: " + selected.length + " item(s), [" + selected.join(", ") + "]");
                                //alert("Selected: " + selected.length + " item(s), [" + selected.join(", ") + "]");
                                //alert("item(3)" + item(3));
                                //alert("arg()" + arg.field(2));
                                //alert("arg()" + selected. arg.field(2));

                                //var grid = $("#gridRepresentantesCliente").data("kendoGrid");
                                //var row = grid.select();
                                //var uid = row.data("uid");
                                //var tr_first = $('[data-uid="' + uid + '"] td:first').text();
                                //alert(tr_first);

                                //alert("fin");
                            }

                            function onDataBound(arg) {
                                //alert("Grid data bound");
                            }

                            function onDataBinding(arg) {
                                //alert("Grid data binding");
                                //alert(arg.field(2));
                                //alert("fin");

                                //arg.container.find("input[name='idEstadoCivil']").val(customRowDataItem.idEstadoCivil).change();

                            }

                            function onSorting(arg) {
                                //alert("Sorting on field: " + arg.sort.field + ", direction:" + (arg.sort.dir || "none"));
                            }

                            function onFiltering(arg) {
                                //alert("Filter on " + kendo.stringify(arg.filter));
                            }

                            function onPaging(arg) {
                                //alert("Paging to page index:" + arg.page);
                            }

                            function onGrouping(arg) {
                                //alert("Group on " + kendo.stringify(arg.groups));
                            }

                            function onGroupExpand(arg) {
                                //alert("The group to be expanded: " + kendo.stringify(arg.group));
                            }

                            function onGroupCollapse(arg) {
                                //alert("The group to be collapsed: " + kendo.stringify(arg.group));
                            }
                        </script>
                        <style>
                            /*horizontal Grid scrollbar should appear if the browser window is shrinked too much*/
                            #gridRepresentantesCliente table {
                                /*min-width: 1280px;*/
                            }
                        </style>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>