﻿@{
    ViewBag.Title = "Contratos Firmados";
}

<br />

<script>
    kendo.culture("es-CL");
</script>

<div class="container">
    <form id="logForm">
        <div class="panel panel-default">
            <div class="panel-heading"><b>CONTRATOS FIRMADOS</b></div>
            <div class="panel-body">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-18 col-md-12">
                            @(Html.Kendo().Grid<GestorDeContratos.ServiceLayer.ViewsDTOs.ContratoFirmadoDTO>()
                                .Name("gridContratosFirmados")
                                .Columns(columns =>
                                {
                                    //columns.Command(command =>
                                    //{
                                    //    //command.Destroy();
                                    //})
                                    //.Title("Opciones")
                                    //.Width(120)
                                    //;
                                    columns.Bound(p => p.idContratoEnviado).Width(70);
                                    //columns.Bound(p => p.rutCliente).Width(160);
                                    //columns.Bound(p => p.dvCliente).Width(160);
                                    columns.Bound(p => p.idContratoEnviado).Width(60).ClientTemplate("<a href=\\# onclick=window.open('../Contratos/Ver/#= idContratoEnviado #','contrato','width=800,height=700')>Ver</a>").Title("PDF").Filterable(false);
                                    columns.Bound(p => p.estadoContrato).Width(160).Filterable(ftb => ftb.Multi(true).Search(true));
                                    columns.Bound(p => p.TipoOperacion).Width(100).Filterable(ftb => ftb.Multi(true).Search(true));
                                    columns.Bound(p => p.nombreContratoTipo).Width(160).Filterable(ftb => ftb.Multi(true).Search(true));
                                    columns.Bound(p => p.fechaEnvio)
                                        .Format("{0:g}")
                                        .Width(130)
                                        //.Filterable(ftb => ftb.Multi(true)).Format("{0:d}")
                                    ;
                                    columns.Bound(p => p.usuario).Width(100).Filterable(ftb => ftb.Multi(true).Search(true));
                                    columns.Bound(p => p.nombreCliente).Width(160).Filterable(ftb => ftb.Multi(true).Search(true));
                                    columns.Bound(p => p.rutCliente)
                                        .Width(120)
                                        //.ClientTemplate("#= rutCliente #-#= dvCliente #")
                                        .ClientTemplate(@Html.ActionLink("#= rutCliente #-#= dvCliente #", "Details", "Contratos", new { id = "#: rutCliente #" }, null).ToString())
                                        .Title("Rut Cliente")
                                        .Filterable(ftb => ftb.Multi(true).Search(true))
                                    ;
                                    columns.Bound(p => p.idSimulaOper).Width(120).Filterable(ftb => ftb.Multi(true).Search(true));
                                    columns.Bound(p => p.paginasContrato).Width(100).Filterable(ftb => ftb.Multi(true).Search(true));
                                    columns.Bound(p => p.firmado).Width(100).ClientTemplate("<input type='checkbox' ${ firmado == true ? checked='checked' : ''} disabled />").Filterable(ftb => ftb.Multi(true).Search(true));
                                    columns.Bound(p => p.ultimaFirma)
                                        .Format("{0:g}")
                                        .Width(130)
                                    ;
                                    columns.Bound(p => p.fechaOperacion).Format("{0:d}").Width(120);
                                    columns.Bound(p => p.cantidadDocumentos).Width(120);
                                    columns.Bound(p => p.montoDocumentos).Format("{0:c0}").Width(120);
                                    columns.Bound(p => p.montoFinanciado).Format("{0:c0}").Width(120);
                                })
                                
                                .ToolBar(tools => tools.Excel())
                                .ToolBar(tools => tools.Pdf())
                                .Excel(excel => excel
                                    //.AllPages(true)
                                    .FileName("Contratos_Firmados.xlsx")
                                    .Filterable(true)
                                    .ProxyURL(Url.Action("Excel_Export_Save", "Grid"))
                                )
                                .Pdf(pdf => pdf
                                    //.AllPages()
                                    .AvoidLinks()
                                    .PaperSize("letter")
                                    .Scale(0.8)
                                    .Margin("2cm", "1cm", "1cm", "1cm")
                                    .Landscape()
                                    .RepeatHeaders()
                                    //.TemplateId("page-template")
                                    .FileName("Contratos_Firmados.pdf")
                                    .ProxyURL(Url.Action("Pdf_Export_Save", "Grid"))
                                )
                                
                                .Pageable()
                                .Sortable()
                                .Scrollable()
                                .Selectable(selectable => selectable
                                    .Mode(GridSelectionMode.Single)
                                    //.Type(GridSelectionType.Cell)
                                )                                
                                //.PersistSelection()
                                .ClientDetailTemplateId("template")
                                .Filterable()
                                .Resizable(resize => resize.Columns(true))    
                                //.ColumnMenu()
                                .Groupable()
                                .HtmlAttributes(new { style = "height:550px;" })
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .PageSize(2000)
                                    .Model(model =>
                                    {
                                        model.Id(p => p.idContratoEnviado);
                                    })
                                    .Read(read => read.Action("ContratosFirmados_Read", "Contratos"))
                                    //.Destroy(update => update.Action("ContratosPorFirmar_Destroy", "Contratos"))
                                )
                                .Events(events => events.DataBound("dataBound"))
                            )

                            <script id="template" type="text/kendo-tmpl">
                                @(Html.Kendo().Grid<GestorDeContratos.ServiceLayer.ViewsDTOs.ContratoPorFirmarFirmanteDTO>()
                                    .Name("grid_#=idContratoEnviado#") // template expression, to be evaluated in the master context
                                    .Columns(columns =>
                                    {
                                        //columns.Bound(o => o.rutFirmante).Width(100);
                                        //columns.Bound(o => o.dvFirmante).Width(100);
                                        columns.Bound(p => p.rutFirmante).Width(120).ClientTemplate("\\#= rutFirmante \\#-\\#= dvFirmante \\#").Title("Rut Firmante");
                                        columns.Bound(o => o.nombreFirmante).Width(350);
                                        //columns.Bound(o => o.fechaIngreso).Format("{0:d}").Width(130);
                                        columns.Bound(o => o.firmado).Width(100).ClientTemplate("<input type='checkbox' \\#= firmado ? 'checked=checked' : '' \\# disabled='disabled' >");
                                        columns.Bound(o => o.fechaFirmado)
                                            //.Format("{0:d}")
                                            .Format("{0:g}")
                                            .Width(150);
                                        columns.Bound(o => o.Descripcion).Width(150);
                                        columns.Bound(o => o.idVersionAcuerdoLegal);
                                    })
                                    .Selectable(selectable => selectable
                                        .Mode(GridSelectionMode.Single)
                                    )                                
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(10)
                                        .Read(read => read.Action("ContratosPorFirmarFirmantes_Read", "Contratos", new { idContratoEnviado = "#=idContratoEnviado#" }))
                                    )
                                    .Pageable()
                                    .Sortable()
                                    .ToClientTemplate()
                                )
                            </script>
                            <script>
                                function dataBound() {
                                    //this.expandRow(this.tbody.find("tr.k-master-row").first());
                                }
                            </script>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
