﻿@{
    ViewBag.Title = "Index";

    //GestorDeContratos.Web.Controllers.OperacionCursadaController operCursadasModal = new GestorDeContratos.Web.Controllers.OperacionCursadaController();
    //ViewBag.OperacionesCursadasModal = " asa";
    //var rutCliente = Request.Url.Segments[3] != null ? int.Parse(Request.Url.Segments[3]) : 0;
    //var rutCliente = Request.QueryString["Rut"] == null ? 0 : int.Parse(Request.QueryString["rutcliente"]);
    //var rutCliente = 96615800;
    //ViewBag.OperacionesCursadasModal = operCursadasModal.ListadoModal(rutCliente);
    
}

<h2>Index</h2>


<script>
    function dataGridClientes() {
        return {
            buscar: '',
        };
    }
</script>

<script>
    function dataGridOperacionesCursadas() {
        return {
            rutCliente: 96615800,
        };
    }
</script>



@(Html.Kendo().Window()
    .Name("window")
    .Title("OPERACIONES CURSADAS")
    .Content(@<text>

        @(Html.Kendo().Grid<GestorDeContratos.ServiceLayer.ViewsDTOs.OperacionCursadaDTO>()
            .Name("gridOperacionesCursadas")
            .Columns(columns =>
            {
                columns.Bound(p => p.URLOperLegalPDF).Encoded(false);
                columns.Bound(p => p.NumContrato);
                columns.Bound(p => p.CantDoctos);
                columns.Bound(p => p.Tipo);
                columns.Bound(p => p.FOtorg);
                columns.Bound(p => p.NumDeudores);
                columns.Bound(p => p.ValorTotal).Format("{0:c}");
            })
            .Pageable()
            .Sortable()
            .Scrollable()
            .Filterable()
            .HtmlAttributes(new { style = "height:400px;" })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                .Read(read => read.Action("OperacionesCursadas_Read", "Cliente").Data("dataGridOperacionesCursadas"))
            )
        )

    </text>)
    .Draggable()
    .Resizable()
    .Width(1000)
    .Height(430)
    .Actions(actions => actions
        //.Pin()
        //.Minimize()
        //.Maximize()
        .Close()
    )
    .Events(ev => ev.Close("onClose"))
    .Visible(false)
)

<span id="undo" class="k-button hide-on-narrow">Click here to open the window.</span>

@*<div class="responsive-message"></div>*@

<script>
    function onClose() {
        $("#undo").show();
    }

    $(document).ready(function () {
        $("#undo").bind("click", function () {
            $("#window").data("kendoWindow").center().open();
            //$("#window").data("kendoWindow").open();
            //$("#undo").hide();
        });
    });
</script>

<style>
    /*#example {
        min-height:500px;
    }*/

    #undo {
        text-align: center;
        position: absolute;
        white-space: nowrap;
        padding: 1em;
        cursor: pointer;
    }
    /*.armchair {
        float: left;
        margin: 30px 30px 120px 30px;
        text-align: center;
    }
    .armchair img {
        display: block;
        margin-bottom: 10px;
    }*/
    /*.k-window-content p {
        margin-bottom: 1em;
    }
    .k-window-content a {
        color: #BBB;
    }*/
    @@media screen and (max-width: 1023px) {
        div.k-window {
            display: none !important;
        }
    }
</style>