﻿@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>




    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Operaciones Cursadas</h4>
                </div>
                <div class="modal-body">

@*                    @(Html.Kendo().Grid<GestorDeContratos.ServiceLayer.ViewsDTOs.OperacionCursadaDTO>()
                        .Name("gridOperacionesCursadas")
                        .Columns(columns =>
                        {
                            //columns.Bound(p => p.NroOt).ClientTemplate(@Html.ActionLink("#= rut #-#= dv #", "Rut", "Cliente", new { id = "#: rut #" }, null).ToString()).Title("RUT").Width(100);
                            //columns.Bound(p => p.razonSocial).Title("NOMBRE/RAZÓN SOCIAL").Width(300);
                            //columns.Bound(p => p.nombreCalle).Title("DIRECCIÓN").Width(300);
                            columns.Bound(p => p.NroOt).Title("NroOt");
                            //columns.Bound(p => p.ciudad).Title("CIUDAD");
                        })
                        .Pageable()
                        .Sortable()
                        .Scrollable()
                        //.Filterable()
                        .HtmlAttributes(new { style = "height:550px;" })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(20)
                            .Read(read => read.Action("OperacionesCursadas_Read", "Cliente").Data("dataGridOperacionesCursadas"))
                        )
                    )*@

@*                        @(Html.Kendo().Grid<GestorDeContratos.ServiceLayer.ViewsDTOs.RepresentanteClienteDTO>()
                            .Name("gridRepresentantesCliente")
                            .Columns(columns =>
                            {
                                //columns.Bound(p => p.rutCliente).Visible(false);//.Locked(true);
                                columns.Bound(p => p.rutRepresentante).Width(100);//.Locked(true);
                                columns.Bound(p => p.dvRepresentante).Width(40);//.Locked(true);
                                columns.Bound(p => p.nombre).Width(150);//.Locked(true);
                                columns.Bound(p => p.nacionalidad).Width(100);
                            })
                            .Pageable()
                            .Sortable()
                            .Scrollable()
                            //.HtmlAttributes(new { style = "height:550px;" })
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(10)
                                .Read(read => read.Action("RepresentantesCliente_Read", "Cliente").Data("dataGridRepresentantesCliente"))
                            )
                        )*@


                        @(Html.Kendo().Grid<GestorDeContratos.ServiceLayer.ViewsDTOs.ClienteDTO>()
                            .Name("gridClientes")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.rut).ClientTemplate(@Html.ActionLink("#= rut #-#= dv #", "Rut", "Cliente", new { id = "#: rut #" }, null).ToString()).Title("RUT").Width(100);
                                columns.Bound(p => p.razonSocial).Title("NOMBRE/RAZÓN SOCIAL").Width(300);
                                columns.Bound(p => p.nombreCalle).Title("DIRECCIÓN").Width(300);
                                columns.Bound(p => p.comuna).Title("COMUNA");
                                columns.Bound(p => p.ciudad).Title("CIUDAD");
                            })
                            .Pageable()
                            .Sortable()
                            .Scrollable()
                            .Filterable()
                            .HtmlAttributes(new { style = "height:550px;" })
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(20)
                                .Read(read => read.Action("Cliente_Read", "Buscar").Data("dataGridClientes"))
                            )
                        )


                    <p>Some text in the modal.</p>
                    <p>@ViewBag.OperacionesCursadasModal</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>