﻿@{
    ViewBag.Title = "Index";
}
<br />

<script>


    function buscarTextoCanalVersion(idTexto) {
        //var dropdownlist;

        //jQuery.post("/Cliente/Cliente_Read", { rut: rutCliente }, function (Data) {
        jQuery.post("TextoCanal/TextoCanalVersion_Read", { idTexto: idTexto }, function (Data) {
            var obj = jQuery.parseJSON(Data);
            if (obj.success) {
                $("#fechaInicioTxt").val(obj.fechaIngreso);
                $('#editorTexto').data('kendoEditor').value(obj.Texto);
                //habilitarFunciones();
                //if (obj.esPersonaNatural) {
                //    mostrarPersonaNaturalDivFunciones(true);
                //} else {
                //    mostrarPersonaNaturalDivFunciones(false);
                //}

                var popupNotification = $("#popupNotification").data("kendoNotification");
                popupNotification.show(obj.mensajeRetorno, "success");

            } else {
                //deshabilitarFunciones();

                /*
                var popupNotification = $("#popupNotification").data("kendoNotification");
                popupNotification.show(obj.mensajeRetorno, "warning");
                */

                var notification = $("#notification").data("kendoNotification");
                notification.show({
                    title: "ERROR",
                    message: obj.mensajeRetorno,
                }, "error");
            }
            $("#gridTextoVersionHistorial").data("kendoGrid").dataSource.read();
        });
    }

    function validarDatos() {
        var popupNotification = $("#popupNotification").data("kendoNotification");
        var isValido = false;

        if (confirm("¿Desea grabar los datos?")) {
            return true;
        }

        return isValido;
    }

    function onClickGuardar(n) {
        var notification = $("#notification").data("kendoNotification");

        if (validarDatos()) {
            var idTexto = $("#textoCanal").data("kendoDropDownList").value().trim()
            var texto = $("#editorTexto").val();

            jQuery.post("TextoCanal/TextoCanalVersion_Update", {
                idTexto: idTexto
                , texto: texto
            },
            function (Data) {
                var obj = jQuery.parseJSON(Data);
                if (obj.success) {

                    notification.show({
                        title: "",
                        message: obj.mensajeRetorno
                    }, "upload-success");

                    notification.setOptions({
                        AutoHideAfter: 0,
                    });

                    $("#grabarButton").data("kendoButton").enable(false);
                    $("#gridTextoVersionHistorial").data("kendoGrid").dataSource.read();

                } else {
                    notification.show({
                        title: "ERROR",
                        message: obj.mensajeRetorno,
                    }, "error");
                }
            });
        }
    }

    function dataGridTextoVersion() {
        //alert($("#textoCanal").data("kendoDropDownList").value().trim());
        return {
            idTexto: $("#textoCanal").data("kendoDropDownList").value().trim()
        };
    }

</script>

<script>
    kendo.culture("es-CL");
</script>


@(Html.Kendo().Notification()
    .Name("notification")
    .Position(p => p.Pinned(true).Top(30).Right(30))
    .Stacking(NotificationStackingSettings.Down)
    .AutoHideAfter(7000)
    .Templates(t =>
    {
        t.Add().Type("info").ClientTemplateID("emailTemplate");
        t.Add().Type("error").ClientTemplateID("errorTemplate");
        t.Add().Type("upload-success").ClientTemplateID("successTemplate");
    })
)

@(Html.Kendo().Notification()
    .Name("popupNotification")
)

<script id="emailTemplate" type="text/x-kendo-template">        
    <div class="new-mail">
        <img src="../../content/web/notification/envelope.png" />
        <h3>#= title #</h3>
        <p>#= message #</p>
    </div>
</script>

<script id="errorTemplate" type="text/x-kendo-template">        
    <div class="wrong-pass">
        <img src="../../content/web/notification/error-icon.png" />
        <h3>#= title #</h3>
        <p>#= message #</p>
    </div>
</script>

<script id="successTemplate" type="text/x-kendo-template">        
    <div class="upload-success">
        <img src="../../content/web/notification/success-icon.png" />
        <h3>#= message #</h3>
    </div>
</script>

<style>
    .demo-section p {
        margin: 3px 0 20px;
        line-height: 50px;
    }

    .demo-section .k-button {
        width: 250px;
    }

    .k-notification {
        border: 0;
    }


    /* Info template */
    .k-notification-info.k-group {
        background: rgba(0%,0%,0%,.7);
        color: #fff;
    }

    .new-mail {
        width: 300px;
        height: 100px;
    }

        .new-mail h3 {
            font-size: 1em;
            padding: 32px 10px 5px;
        }

        .new-mail img {
            float: left;
            margin: 30px 15px 30px 30px;
        }

    /* Error template */
    .k-notification-error.k-group {
        background: rgba(100%,0%,0%,.7);
        color: #ffffff;
    }

    .wrong-pass {
        /*width: 300px;*/
        width: 320px;
        height: 100px;
    }

        .wrong-pass h3 {
            font-size: 1em;
            /*padding: 32px 10px 5px;*/
        }

        .wrong-pass img {
            float: left;
            margin: 30px 15px 30px 30px;
        }

    /* Success template */
    /*.k-notification .upload-success {*/
    .k-notification-upload-success.k-group {
        background: rgba(0%,60%,0%,.7);
        color: #fff;
    }

    .upload-success {
        /*width: 240px;*/
        width: 320px;
        height: 100px;
        padding: 0 30px;
        line-height: 100px;
    }

        .upload-success h3 {
            font-size: 1em;
            font-weight: normal;
            display: inline-block;
            vertical-align: middle;
        }

        .upload-success img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
</style>

<div class="container">
    <form id="textCanalForm">
        <div class="panel panel-default">
            <div class="panel-heading"><b>TEXTOS EN CANALES MOVIL & WEB</b></div>
            <div class="panel-body">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-18 col-md-12">
 
                            @(Html.Kendo().DropDownList()
                                    .Name("textoCanal")
                                    .DataTextField("NombreTexto")
                                    .DataValueField("idTexto")
                                    //.Events(e => e.Change("change"))
                                    .Events(e =>
                                    {
                                        e.Change("onChange").Select("onSelect").Open("onOpen").Close("onClose").DataBound("onDataBound").Filtering("onFiltering");
                                    })                                    
                                    .DataSource(source => {
                                        source.Read(read =>
                                        {
                                            read.Action("TextoCanal_Read", "TextoCanal");
                                        }); 
                                    })
                                    .HtmlAttributes(new { style = "width: 100%" })
                            )
                            <script>
                                function onOpen() {
                                    //kendoConsole.log("event: open");
                                    //alert("onOpen");
                                }

                                function onClose() {
                                    //kendoConsole.log("event: close");
                                    //alert("onClose");
                                }

                                function onChange() {
                                    //kendoConsole.log("event: change");
                                    //alert("onChange");
                                    //alert( $("#textoCanal").data("kendoDropDownList").value().trim() );
                                    buscarTextoCanalVersion($("#textoCanal").data("kendoDropDownList").value().trim())

                                }

                                function onDataBound() {
                                    //kendoConsole.log("event: dataBound");
                                    //alert("onDataBound");
                                    //alert($("#textoCanal").data("kendoDropDownList").value().trim());
                                    buscarTextoCanalVersion($("#textoCanal").data("kendoDropDownList").value().trim())
                                }

                                function onSelect(e) {
                                    //alert("onSelect");
                                }

                                function onFiltering() {
                                    //kendoConsole.log("event: filtering");
                                    //alert("onFiltering");
                                }
                            </script>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

<div class="container">
    <form id="textoCanalVersionUltForm">
        <div class="panel panel-default">
            <div class="panel-heading"><b>ÚLTIMA VERSIÓN DE TEXTO</b></div>
            <div class="panel-body">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-18 col-md-12">

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="rut">Fecha Inicio:</label>
                                <div class="col-sm-10">
                                    @(Html.Kendo().TextBox()
                                        .Name("fechaInicioTxt")
                                        .Enable(false)
                                        //.HtmlAttributes(new { title = "Nombre/Razón social del cliente", style = "width:500px", required = "required", validationmessage = "Ingrese este campo." })
                                    )
                                </div>
                            </div>

                            <br /><br />

                            @(Html.Kendo().Editor()
                                .Name("editorTexto")
                                //.HtmlAttributes(new { style = "height:440px", aria_label = "editor" })
                                .HtmlAttributes(new { style = "width: 100%;height:440px" })
                                //.Resizable(resizable => resizable.Content(true).Toolbar(true))
                                //.ImageBrowser(imageBrowser => imageBrowser
                                //    .Image("~/Content/UserFiles/Images/{0}")
                                //    .Read("Read", "ImageBrowser")
                                //    .Create("Create", "ImageBrowser")
                                //    .Destroy("Destroy", "ImageBrowser")
                                //    .Upload("Upload", "ImageBrowser")
                                //    .Thumbnail("Thumbnail", "ImageBrowser")
                                //)
                                .Pdf(pdf => pdf
                                    .Margin(20, 20, 20, 20)
                                    //.PaperSize("A4")
                                    //.PaperSize("LETTER")
                                    .PaperSize("auto")
                                    .ProxyURL(Url.Action("Pdf_Export_Save", "Editor"))
                                )
                                .ExportAs(exportAs => exportAs
                                    .FileName("editor_content")
                                    .Proxy("Export", "EditorExport")
                                )
                                .Tools(tools => tools
                                    .Clear()
                                    .Formatting()
                                    .Bold().Italic().Underline().Strikethrough()
                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()                                            
                                    .InsertUnorderedList().InsertOrderedList()
                                    .Outdent().Indent()
                                    .CreateLink().Unlink()
                                    .InsertImage()
                                    .TableEditing()
                                    .ViewHtml()
                                    //.InsertFile()
                                    //.SubScript()
                                    //.SuperScript()
                                    .CleanFormatting()
                                    .FontName()
                                    .FontSize()
                                    //.FontColor().BackColor()
                                    .Print()
                                    //.ExportAs()
                                    .Pdf()
                                )
                                //.Value(@<text></text>)
                                .Events(events => events
                                    .Change("change")
                                    .Execute("execute")
                                    .Select("select")
                                    .Paste("paste")
                                )                                
                            )

                            <script>
                                function change(e) {
                                    //alert("change");
                                }

                                function execute(e) {
                                    //alert("execute command :: " + e.name);
                                }

                                function select(e) {
                                    //alert("selection change");
                                    $("#grabarButton").data("kendoButton").enable(true);
                                }

                                function paste(e) {
                                    //alert("paste");
                                }

                                function contentLoad(e) {
                                    //alert("Content loaded in <b>" + $(e.item).find("> .k-link").text() + "</b> and starts with <b>" + $(e.contentElement).text().substr(0, 20) + "...</b>");
                                }

                                function error(e) {
                                    //alert("Loading failed with " + e.xhr.statusText + " " + e.xhr.status);
                                }
                            </script>

                            <br />

                            <div class="form-group">
                                <div class="col-sm-offset-5 col-sm-7">
                                    @(Html.Kendo().Button()
                                        .Name("grabarButton")
                                        .HtmlAttributes(new { type = "button", @class = "k-primary" })
                                        .Content("Grabar")
                                        .Enable(false)
                                        .Events(ev => ev.Click("onClickGuardar"))
                                    )
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

<div class="container">
    <form id="textoCanalVersionHistoForm">
        <div class="panel panel-default">
            <div class="panel-heading"><b>HISTORIAL DE VERSIONES DEL TEXTO</b></div>
            <div class="panel-body">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-18 col-md-12">
 
                            @*@(Html.Kendo().Grid<GestorDeContratos.ServiceLayer.ViewsDTOs.TextoCanalVersionDTO>()
                                .Name("gridTextoVersionHistorial")
                                .Columns(columns => {
                                    columns.Bound(p => p.idVersion);
                                    columns.Bound(p => p.NombreTexto);
                                    columns.Bound(p => p.Texto).Encoded(false);
                                    //columns.Bound(p => p.Texto)
                                    //    //.Encoded(false)
                                    //    .ClientTemplate(@" #= Texto # ")
                                    //    ;
                                })
                                .Pageable()
                                .Sortable()
                                .Scrollable()
                                //.Filterable()
                                .HtmlAttributes(new { style = "height:550px;" })
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .PageSize(20)
                                    .Read(read => read.Action("TextoCanalVersionHistory_Read", "TextoCanal").Data("dataGridTextoVersion"))
                                 )
                            )*@

                            @(Html.Kendo().Grid<GestorDeContratos.ServiceLayer.ViewsDTOs.TextoCanalVersionDTO>()
                                .Name("gridTextoVersionHistorial")
                                .Columns(columns => {
                                    columns.Bound(p => p.idVersion);
                                    columns.Bound(p => p.NombreTexto);
                                    columns.Bound(p => p.fechaIngreso);
                                    columns.Bound(p => p.fechaFin);
                                    //columns.Bound(p => p.Texto).Encoded(false);
                                    //columns.Bound(p => p.Texto)
                                    //    //.Encoded(false)
                                    //    .ClientTemplate(@" #= Texto # ")
                                    //    ;
                                })
                                .Pageable()
                                .Sortable()
                                .Scrollable()
                                .Filterable()
                                .ClientDetailTemplateId("template")
                                .HtmlAttributes(new { style = "height:850px;" })
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .PageSize(20)
                                    .Read(read => read.Action("TextoCanalVersionHistory_Read", "TextoCanal").Data("dataGridTextoVersion"))
                                 )
                                 .Events(events => events.DataBound("dataBound"))
                            )

                            <script id="template" type="text/kendo-tmpl">
                                @(Html.Kendo().TabStrip()
                                        .Name("tabStrip_#=idVersion#")
                                        .SelectedIndex(0)
                                        .Animation(animation => animation.Open(open => open.Fade(FadeDirection.In)))
                                        .Items(items =>
                                        {
                                            items.Add().Text("Texto").Content(
                                                "#= Texto #"
                                            );                
                                        })
                                        .ToClientTemplate())
                            </script>

                            <script>
                                function dataBound() {
                                    this.expandRow(this.tbody.find("tr.k-master-row").first());
                                }
                            </script>

                            <style>
                                .k-detail-cell .k-tabstrip .k-content {
                                    padding: 0.2em;
                                }
                                .employee-details ul
                                {
                                    list-style:none;
                                    font-style:italic;
                                    margin: 15px;
                                    padding: 0;
                                }
                                .employee-details ul li
                                {
                                    margin: 0;
                                    line-height: 1.7em;
                                }

                                .employee-details label
                                {
                                    display:inline-block;
                                    width:90px;
                                    padding-right: 10px;
                                    text-align: right;
                                    font-style:normal;
                                    font-weight:bold;
                                }
                            </style>


 


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>