﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Licencia.aspx.cs" Inherits="GestorDeContratos.WebService.Licencia" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button ID="ASPOSE_WORD" runat="server" Text="ASPOSE.WORD" OnClick="ASPOSE_WORD_Click" />
    </div>
    </form>
</body>
</html>
