﻿@{
    //Layout = null;
    ViewBag.Title = "Log de Contratos";
}
<br />

<script>
    kendo.culture("es-CL");
</script>

<div class="container">
    <form id="logForm">
        <div class="panel panel-default">
            <div class="panel-heading"><b>LOG DE CONTRATOS</b></div>
            <div class="panel-body">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-18 col-md-12">
                            @(Html.Kendo().Grid<GestorDeContratos.ServiceLayer.ViewsDTOs.LogContratoDTO>()
                                .Name("gridLogContratos")
                                .Columns(columns =>
                                {
                                    //columns.Bound(p => p.idLog);
                                    columns.Bound(p => p.fecha)
                                        //.Format("{0: dd-MMM-yyyy hh:mm:ss tt}")
                                        .Format("{0:G}")
                                        .Width(160)
                                    ;
                                    columns.Bound(p => p.usuario).Width(100);
                                    //columns.Bound(p => p.rutCliente).Width(100);
                                    columns.Bound(p => p.rutCliente)
                                        .ClientTemplate(@Html.ActionLink("#= rutCliente #-#= dvCliente #", "Details", "Contratos", new { id = "#: rutCliente #" }, null).ToString())
                                        .Width(100)
                                    ;
                                    columns.Bound(p => p.RSocial).Width(300);
                                    columns.Bound(p => p.contrato);
                                })
                                .ToolBar(tools => tools.Excel())
                                .ToolBar(tools => tools.Pdf())
                                .Excel(excel => excel
                                    .FileName("Log de Contratos.xlsx")
                                    .Filterable(true)
                                    .ProxyURL(Url.Action("Excel_Export_Save", "Grid"))
                                )
                                .Pdf(pdf => pdf
                                    .AllPages()
                                    .AvoidLinks()
                                    .PaperSize("letter")
                                    .Scale(0.8)
                                    .Margin("2cm", "1cm", "1cm", "1cm")
                                    .Landscape()
                                    .RepeatHeaders()
                                    //.TemplateId("page-template")
                                    .FileName("Log de Contratos.pdf")
                                    .ProxyURL(Url.Action("Pdf_Export_Save", "Grid"))
                                )                                
                                .Pageable()
                                .Sortable()
                                .Scrollable()
                                .Filterable()
                                .Groupable()
                                .HtmlAttributes(new { style = "height:550px;" })
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .PageSize(2000)
                                    .Read(read => read.Action("LogContrato_Read", "LogContrato"))
                                )
                            )
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
